In [1]:
"QUESTION 1"

'QUESTION 1'

In [8]:
'''Use a for loop when you know the loop should execute n times. Use a while loop for reading a file into a variable. Use a while loop when asking for user input. Use a while loop when the increment value is nonstandard.'''

'Use a for loop when you know the loop should execute n times. Use a while loop for reading a file into a variable. Use a while loop when asking for user input. Use a while loop when the increment value is nonstandard.'

In [3]:
"QUESTION 2 "

'QUESTION 2 '

In [18]:
#USING FOR LOOP
#sum
sum = 0 
for i in range(1,11) :
    sum = sum + i
print("The sum is : " , sum)
#product
product = 1
for i in range(1,11) :
    product = product * i
print("Product is : " , product)

The sum is :  55
Product is :  3628800

In [21]:
#USING WHILE LOOP

sum = 0 
i = 1
while(i <= 10) :
    sum += i
    i += 1
print("the sum is : ",sum)

#PRODUCT 
product = 1
i = 1
while(i <= 10):
    product = product * i
    i += 1
print("The product is : " , product)

the sum is :  55
The product is :  3628800

In [18]:
"QUESTION 3"

'QUESTION 3'

In [3]:
units = float(input("Enter the number of units consumed: "))

if units <= 100:
    charges = units * 4.5
elif units <= 200:
    charges = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    charges = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    charges = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Electricity Bill = Rs.", charges)

Enter the number of units consumed:  310

Electricity Bill = Rs. 2250.0

In [19]:
'''QUESTION 4'''

'QUESTION 4'

In [4]:
cube_list = []
for i in range(1,101) :
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0 :
        cube_list.append(i)
print(cube_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
cube_list= []
i = 1

while i<= 100 :
    cube = i **3
    if cube % 4 == 0 or cube % 5 == 0 :
            cube_list.append(i)
    i += 1
print(cube_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [17]:
'''QUESTION 5'''

'QUESTION 5'

In [16]:
string = "I want to become a data scientist"

vowels = 'aeiouAEIOU'
count = 0

for char in string:
    if char in vowels:
        count += 1
        
print("Number of vowels in the string:", count)

Number of vowels in the string: 12