In [3]:
per = int(input("Enter Your Percentage : "))
if per > 90 :
    print("A GRADE")
elif per >80  and per <= 90 :
    print("B GRADE")
elif per >= 60 and per <= 80 :
    print("C GRADE")
else per < 60 :
    print("D GRADE")

Enter Your Percentage :  95

A GRADE

In [4]:
cp = int(input("Enter the cost price of your bike"))
if cp > 100000 :
    print("15% Road Tax")
elif cp > 50000 and cp < 100000 :
    print("10% Road Tax")
else cp <= 50000 :
    print("5% Road Tax")

Enter the cost price of your bike 2897

5% Road Tax

In [2]:
city = str(input("Enter city Name")) 
if city == "Delhi" :
    print("RED FORT")
elif city == "Agra" :
    print("TAJ MAHAL")
elif city == "Jaipur" :
    print("JAL MAHAL")
else :
    print("not available")

Enter city Name hhjj

not available

In [5]:
"QUESTION 4 : MEANS DIVIDE A NUMBER WHICH IS MORE THAN TEN BY 3 UNTILL THE NUMBER BECOMES LESS THAN 10....HENCE WE CAN DIVIDE 12 BY 3 ONE TIME BCZ AFTER THAT 2 IS LESS THAN 3 "

'QUESTION 4 : MEANS DIVIDE A NUMBER WHICH IS MORE THAN TEN BY 3 UNTILL THE NUMBER BECOMES LESS THAN 10....HENCE WE CAN DIVIDE 12 BY 3 ONE TIME BCZ AFTER THAT 2 IS LESS THAN 3 '

In [1]:
n = int(input("Enter the number :"))
count = 0

while n >= 10 :
    n = n/3
    count = count + 1
count

Enter the number : 12

1

In [2]:
"QUESTION : 5"

'QUESTION : 5'

In [ ]:
"With the while loop we can execute a set of statements as long as a condition is true. The while loop requires relevant variables to be ready"

In [4]:
i = 1
while i < 10 :
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

In [6]:
"QUESTION 6"

'QUESTION 6'

In [7]:
# 1 Number pattern

num = int(input("Enter the number of rows: "))

current_row = 1

while current_row <= num:
    # print the spaces for the current row
    print(" " * (num - current_row), end="")
    
    # print the numbers for the current row
    current_num = 1
    while current_num <= current_row:
        print(current_num, end="")
        current_num += 1
        
    # print the numbers in reverse order for the current row
    current_num -= 2
    while current_num >= 1:
        print(current_num, end="")
        current_num -= 1
        
    # move to the next row
    print()
    current_row += 1

Enter the number of rows:  6

     1
    121
   12321
  1234321
 123454321
12345654321

In [9]:
# 2
n=int(input("Enter the number of rows"))
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print('')
    i=i+1

Enter the number of rows 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [10]:
# 3
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  8

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
i = 10
while i >= 1 : 
    print(i)
    i = i -1

10
9
8
7
6
5
4
3
2
1

In [3]:
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1